@import url(https://db.onlinewebfonts.com/c/452ec27decf4369db2b93619854b5638?family=FuseV.2Display-Regular); 

body{
    background-color: #0A181B;
    color: white;
    font-family: "FuseV.2Display-Regular"; 
    margin: 0;
    padding: 0;
}

a{
    position: relative;
    text-decoration: none;
    display: inline-block;
    color: white;
}

a img {
    display: block; 
}

a img::after {
    display: none;  
}

a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: #30cec2;
    transition: width 0.3s ease;
}

a:hover::after {
    width: 100%;
}

.announcement{
    font-size: 14px;
    line-height: 24px;
    background-color: #162426;
    display: flex;
    justify-content: center;
}

.hero-section {
    background-image: url('media/header.png');
    background-size: cover;  
    background-position: center;  
    background-repeat: no-repeat;  
    min-height: 100vh; 
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
    padding: 0;
}

.navbar {
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: auto;
}
.navbar ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: auto;
    position: relative;
}

ul {
    margin-block-start: 1em;
    margin-block-end: 1em;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
    list-style: none;
}


.sponsors {
    max-width: 1200px;
    margin: 80px auto;
    padding: 0 20px;
}

.sponsors__title {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 60px;
}


.sponsors__gold {
    margin-bottom: 80px;
}

.sponsor__card {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-bottom: 60px;
}

.sponsor__card--reverse {
    flex-direction: row-reverse;
}

.sponsor__image {
    flex: 1;
    max-width: 45%;
    border-radius: 8px;
    object-fit: cover;
}

.sponsor__info {
    flex: 1;
    max-width: 55%;
}

.sponsor__badge {
    display: block;
    width: 100px;
    margin-bottom: 16px;
    padding: 6px 16px;
    font-size: 12px;
    font-weight: bold;
    color: #0A181B;
    background-color: #30cec2;
    border-radius: 4px;
}

.sponsor__name {
    display: inline-block;
    font-size: 36px;
    margin-bottom: 20px;
    position: relative;
}

.sponsor__name::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 3px;
    background-color: #30cec2;
    transition: width 0.3s ease;
}

.sponsor__card:hover .sponsor__name::after {
    width: 100%;
}

.sponsor__description {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 24px;
    color: #d0d0d0;
}

.sponsor__logo {
    max-width: 200px;
    height: auto;
}


.sponsors__section {
    margin-bottom: 60px;
}

.sponsors__section-title {
    font-size: 32px;
    text-align: center;
    color: #30cec2;
    margin-bottom: 40px;
}

.sponsors__grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 40px;
    align-items: center;
    justify-items: center;
}

.sponsors__grid--small {
    grid-template-columns: repeat(2, 1fr);
    max-width: 600px;
    margin: 0 auto;
}

.sponsors__grid--single {
    grid-template-columns: 1fr;
    max-width: 300px;
    margin: 0 auto;
}

.sponsors__grid--friends {
    grid-template-columns: repeat(4, 1fr);
    max-width: 900px;
    margin: 0 auto;
}

.sponsor__link {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;
}

.sponsor__link::after {
    display: none;
}

.sponsor__link:hover {
    transform: scale(1.1);
}

.sponsor__link img {
    max-width: 180px;
    height: auto;
    filter: brightness(0.9);
    transition: filter 0.3s ease;
}

.sponsor__link:hover img {
    filter: brightness(1.2);
}



@media (max-width: 1024px) {
    .sponsors__grid {
        grid-template-columns: repeat(4, 1fr);
        gap: 35px;
    }
}

@media (max-width: 968px) {
    .sponsor__card {
        flex-direction: column;
    }

    .sponsor__image,
    .sponsor__info {
        max-width: 100%;
    }

    .sponsors__grid {
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
    }

    .sponsors__title {
        font-size: 36px;
    }

    .sponsor__name {
        font-size: 28px;
    }

    .sponsors__grid--friends {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 640px) {
    .sponsors__grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .sponsor__link img {
        max-width: 120px;
    }

    .sponsors__title {
        font-size: 28px;
    }

    .sponsor__name {
        font-size: 24px;
    }

    .sponsor__description {
        font-size: 14px;
    }
}

@media (max-width: 375px) {
    .sponsors {
        padding: 0 15px;
    }

    .sponsors__title {
        font-size: 24px;
        margin-bottom: 40px;
    }

    .sponsor__card {
        gap: 20px;
        margin-bottom: 40px;
    }

    .sponsor__link img {
        max-width: 100px;
    }
}

a.sponsor__logo::after {
    display: none !important;
}

