@import url(https://db.onlinewebfonts.com/c/452ec27decf4369db2b93619854b5638?family=FuseV.2Display-Regular); 

html {
    font-size: 10px; 
  }

body{
    background-color: #0A181B;
    color: white;
    font-family: "FuseV.2Display-Regular"; 
    margin: 0;
    padding: 0;
    display: block;
}

a{
    position: relative;
    text-decoration: none;
    display: inline-block;
    color: white;
}

a img {
    display: block; 
}

a:has(img)::after{
    display: none;
}

a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: #30cec2;
    transition: width 0.3s ease;
}

a:hover::after {
    width: 100%;
}

.a img::after {
    display: none;  
}

.announcement{
    font-size: 14px;
    line-height: 24px;
    background-color: #162426;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.hero-section {
    background-image: url('media/header.png');
    background-size: cover;  
    background-position: center;  
    background-repeat: no-repeat;  
    min-height: 100vh; 
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
    padding: 0;
}

.navbar {
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: auto;
}
.navbar ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 400px;
    position: relative;
    justify-content: space-between;
    list-style: none;
    padding-right: 150px;
}

.navbar img{
    height: 35px;
}

ul li{
    padding: 30px;
    font-size: 15px;
    font-weight: 800;
}

.hero-section{
    padding-top: 10px;
    padding-left: 100px;
    padding-right: 100px;
}

.title{
    font-weight: 800;
    align-self: center;
    font-family: "Fuse V.2 Display", Arial, sans-serif;
    font-size: 35px;
    width: 100%;
    top: 244px;
    left: 100px;
    font-weight: 0;
    letter-spacing: 0px;
    padding-top: 100px;
}

.title h1{
    margin: 0;
    display: inline;
}

.typing {
    color: #30cec2;
    display: inline-block; 
    font-size: 35px;
}

.cursor {
    animation: blink 0.7s infinite;
}

@keyframes blink {
    0%, 50% { opacity: 1; }
    51%, 100% { opacity: 0; }
}

.subtitle{
    margin-top: 16px;
    color: hsla(0, 0%, 100%, .8);
    font-family: "Fuse V.2 Display", Arial, sans-serif;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 17px;
}

.header__buttons{
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header__buttons button:first-child{
    text-decoration: none;
    display: inline-block;
    border: none;
    padding: 12px 32px;
    border-radius: 15px;
    background-color: #30cec2;
    color: #0a181b;
    font-size: 16px;
    font-weight: 800;
    line-height: 24px;
    outline: 0;
    text-transform: none;
    cursor: pointer;
}

.header__buttons button:first-child:hover{
    background-color: #4ee4d8;
}

.header__buttons button:last-child{
    border: 1px solid hsla(0, 0%, 100%, .8);
    background: transparent;
    border-radius: 15px;
    padding: 12px 32px;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 8px;
    text-decoration: none;
}

.conference{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 160px;
    margin-right: 0;
    padding-left: 100px;
    padding-right: 20px;
    padding-top: 70px;
    padding-bottom: 80px;
    display: block;
    position: relative;
}

.conference img{
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.image-container {
    position: relative;
    width: 760px;
    height: 480px;
}

.fade-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img1 {
    animation: fade1 20s infinite;
}

.img2 {
    animation: fade2 20s infinite;
}

@keyframes fade1 {
    0%, 45% { opacity: 1; }
    55%, 100% { opacity: 0; }
}

@keyframes fade2 {
    0%, 45% { opacity: 0; }
    55%, 100% { opacity: 1; }
}

.conference__title {
    font-family: "Fuse V.2 Display", Arial, sans-serif;
    font-size: 25px;
    line-height: 55px;
    letter-spacing: 0px;
    width: 550px;
    height: 116px;
    font-weight: 800;
    margin-left: 380px;
    margin-right: 0;
}

.conference p {
    margin-left: 380px;
    margin-right: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
    opacity: 80%;
    width: 500px;
}

.lectures {
    display: block;
    justify-content: center;
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 110px;
    padding-bottom: 0;
    padding-left: 200px;
    padding-right: 200px;
}

.lectures img {
    width: 505px;
    height: 605px;
    border-radius: 50px;
    object-fit: cover;
    padding-bottom: 100px;
}

.lectures__block{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.lectures__content:nth-child(2){
    justify-content: space-evenly;
}

.lectures__content{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 600px;
    justify-content: space-between;
}

.lectures__title {
    font-weight: 800;
    font-size: 32px;
    line-height: 38px;
    letter-spacing: 0px;
    padding-bottom: 20px;
    position: relative;
}

.lectures__title::before {
    content: '';
    position: absolute;
    width: 64px;  
    height: 64px; 
    background-size: cover;
    background-position: center;
    z-index: -1;
    top: -28px;   
    left: -38px;    
    border-radius: 8px; 
}

.lecture--online .lectures__title::before {
    background-image: url('media/predavanja.svg');
}

.lecture--panel .lectures__title::before {
    background-image: url('media/panel-rasprave.svg');
}

.lecture--workshop .lectures__title::before {
    background-image: url('media/radionice.svg');
}

.lecture--talks .lectures__title::before{
    background-image: url('media/fly\ talks.svg');
}

.lecture--rewards .lectures__title::before{
    background-image: url('media/nagrade.svg');
}

.lectures__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
    opacity: 80%;
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.lecture {
    opacity: 0;
}

.lecture.animate-left {
    animation: fadeInLeft 0.8s ease-out forwards;
}

.lecture.animate-right {
    animation: fadeInRight 0.8s ease-out forwards;
}

.lecture:nth-child(1) {
    animation-delay: 0s;
}

.lecture:nth-child(2) {
    animation-delay: 0.2s;
}

.lecture:nth-child(3) {
    animation-delay: 0.4s;
}

.lectures__description h2{
    width: 568px;
    height: 116px;
    top: 3370px;
    left: 205px;
    opacity: 1;
    font-weight: 800;
    font-size: 48px;
    line-height: 58px;
    letter-spacing: 0px;   
    margin-bottom: 0; 
}

.lectures__description p{
    width: 505px;
    height: 72px;
    top: 3502px;
    left: 205px;
    margin-bottom: 100px;
}

.lecture__type {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.type{
    width: 300px;
    height: 200px;
    top: 3654px;
    left: 164px;
    opacity: 1;
}

.type--live .lectures__title::before{
    background-image: url('media/live.svg');
}

.type--online .lectures__title::before{
    background-image: url('media/desktop-wifi.svg');
}

.type {
    opacity: 0;
}

.type.animate-left {
    animation: fadeInLeft 0.8s ease-out forwards;
}

.type.animate-right {
    animation: fadeInRight 0.8s ease-out forwards;
}

 ul {
    margin-block-start: 1em;
    margin-block-end: 1em;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
    list-style: none;
}


.sponsors {
    max-width: 1200px;
    margin: 80px auto;
    padding: 0 20px;
}

.sponsors__title {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 60px;
}


.sponsors__gold {
    margin-bottom: 80px;
}

.sponsor__card {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-bottom: 60px;
}

.sponsor__card--reverse {
    flex-direction: row-reverse;
}

.sponsor__image {
    flex: 1;
    max-width: 45%;
    border-radius: 8px;
    object-fit: cover;
}

.sponsor__info {
    flex: 1;
    max-width: 55%;
}

.sponsor__badge {
    display: block;
    width: 100px;
    margin-bottom: 16px;
    padding: 6px 16px;
    font-size: 12px;
    font-weight: bold;
    color: #0A181B;
    background-color: #30cec2;
    border-radius: 4px;
}

.sponsor__name {
    display: inline-block;
    font-size: 36px;
    margin-bottom: 20px;
    position: relative;
}

.sponsor__name::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 3px;
    background-color: #30cec2;
    transition: width 0.3s ease;
}

.sponsor__card:hover .sponsor__name::after {
    width: 100%;
}

.sponsor__description {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 24px;
    color: #d0d0d0;
}

.sponsor__logo {
    max-width: 200px;
    height: auto;
}


.sponsors__section {
    margin-bottom: 60px;
}

.sponsors__section-title {
    font-size: 32px;
    text-align: center;
    color: #30cec2;
    margin-bottom: 40px;
}

.sponsors__grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 40px;
    align-items: center;
    justify-items: center;
}

.sponsors__grid--small {
    grid-template-columns: repeat(2, 1fr);
    max-width: 600px;
    margin: 0 auto;
}

.sponsors__grid--single {
    grid-template-columns: 1fr;
    max-width: 300px;
    margin: 0 auto;
}

.sponsors__grid--friends {
    grid-template-columns: repeat(4, 1fr);
    max-width: 900px;
    margin: 0 auto;
}

.sponsor__link {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;
}

.sponsor__link::after {
    display: none;
}

.sponsor__link:hover {
    transform: scale(1.1);
}

.sponsor__link img {
    max-width: 180px;
    height: auto;
    filter: brightness(0.9);
    transition: filter 0.3s ease;
}

.sponsor__link:hover img {
    filter: brightness(1.2);
}



@media (max-width: 1024px) {
    .sponsors__grid {
        grid-template-columns: repeat(4, 1fr);
        gap: 35px;
    }
}

@media (max-width: 968px) {
    .sponsor__card {
        flex-direction: column;
    }

    .sponsor__image,
    .sponsor__info {
        max-width: 100%;
    }

    .sponsors__grid {
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
    }

    .sponsors__title {
        font-size: 36px;
    }

    .sponsor__name {
        font-size: 28px;
    }

    .sponsors__grid--friends {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 640px) {
    .sponsors__grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .sponsor__link img {
        max-width: 120px;
    }

    .sponsors__title {
        font-size: 28px;
    }

    .sponsor__name {
        font-size: 24px;
    }

    .sponsor__description {
        font-size: 14px;
    }
}

@media (max-width: 375px) {
    .sponsors {
        padding: 0 15px;
    }

    .sponsors__title {
        font-size: 24px;
        margin-bottom: 40px;
    }

    .sponsor__card {
        gap: 20px;
        margin-bottom: 40px;
    }

    .sponsor__link img {
        max-width: 100px;
    }
}

a.sponsor__logo::after {
    display: none !important;
}

    
} 

/* Job Board Section */
.job-board {
    max-width: 1400px;
    margin: 100px auto;
    padding: 0 20px;
}

.job-board__title {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 60px;
}

.job-board__section {
    margin-bottom: 80px;
}

.job-board__section-title {
    font-size: 32px;
    text-align: center;
    color: #30cec2;
    margin-bottom: 40px;
}

.job-board__container {
    position: relative;
    padding: 0 60px;
}

.job-board__scroll {
    display: flex;
    gap: 24px;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding: 20px 0;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.job-board__scroll::-webkit-scrollbar {
    display: none;
}

.job-board__nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: white;
    transition: all 0.3s ease;
    z-index: 10;
}

.job-board__nav:hover {
    background-color: #30cec2;
    border-color: #30cec2;
}

.job-board__nav--left {
    left: 0;
}

.job-board__nav--right {
    right: 0;
}

.job-card {
    min-width: 350px;
    background-color: #1a2a2e;
    border-radius: 16px;
    padding: 24px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.job-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 24px rgba(48, 206, 194, 0.2);
}

.job-card__logo {
    width: 48px;
    height: 48px;
    object-fit: contain;
    margin-bottom: 16px;
    background-color: rgba(255, 255, 255, 0.05);
    padding: 8px;
    border-radius: 8px;
}

.job-card__logo-placeholder {
    width: 48px;
    height: 48px;
    background-color: #ff5722;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin-bottom: 16px;
}

.job-card__logo-text {
    font-size: 24px;
    font-weight: bold;
    color: white;
    margin-bottom: 16px;
    padding: 8px 0;
}

.job-card__title {
    font-size: 20px;
    font-weight: bold;
    margin: 0 0 8px 0;
    color: white;
}

.job-card__location {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.7);
    margin: 0 0 16px 0;
}

.job-card__description {
    font-size: 14px;
    line-height: 1.6;
    color: rgba(255, 255, 255, 0.8);
    margin: 0 0 20px 0;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.job-card__button {
    display: inline-block;
    padding: 10px 24px;
    background-color: #30cec2;
    color: #0a181b;
    border-radius: 8px;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.job-card__button:hover {
    background-color: #4ee4d8;
}

.job-card__button::after {
    display: none;
}

@media (max-width: 968px) {
    .job-board__title {
        font-size: 36px;
    }
    
    .job-board__section-title {
        font-size: 28px;
    }
    
    .job-card {
        min-width: 300px;
    }
}

@media (max-width: 640px) {
    .job-board__container {
        padding: 0 50px;
    }
    
    .job-board__nav {
        width: 40px;
        height: 40px;
    }
    
    .job-card {
        min-width: 280px;
    }
}