@import url(https://db.onlinewebfonts.com/c/452ec27decf4369db2b93619854b5638?family=FuseV.2Display-Regular); 

body{
    background-color: #0A181B;
    color: white;
    font-family: "FuseV.2Display-Regular"; 
}