@import url(https://db.onlinewebfonts.com/c/452ec27decf4369db2b93619854b5638?family=FuseV.2Display-Regular); 

html {
    font-size: 10px; 
  }

body{
    background-color: #0A181B;
    color: white;
    font-family: "FuseV.2Display-Regular"; 
    margin: 0;
    padding: 0;
    display: block;
}

a{
    position: relative;
    text-decoration: none;
    display: inline-block;
    color: white;
}

a img {
    display: block; 
}

a:has(img)::after{
    display: none;
}

a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: #30cec2;
    transition: width 0.3s ease;
}

a:hover::after {
    width: 100%;
}

.a img::after {
    display: none;  
}

.announcement{
    font-size: 14px;
    line-height: 24px;
    background-color: #162426;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.hero-section {
    background-image: url('media/header.png');
    background-size: cover;  
    background-position: center;  
    background-repeat: no-repeat;  
    min-height: 100vh; 
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
    padding: 0;
}

.navbar {
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: auto;
}
.navbar ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 40rem;
    position: relative;
    justify-content: space-between;
    list-style: none;
}

/* ul {
    margin-block-start: 1em;
    margin-block-end: 1em;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
    
} */

.navbar img{
    height: 4rem;
}

ul li{
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: 800;
}

.hero-section{
    padding-top: 1rem;
    padding-left: 10rem;
    padding-right: 10rem;
}

.title{
    font-weight: 800;
    align-self: center;
    font-family: "Fuse V.2 Display", Arial, sans-serif;
    font-size: 3.5rem;
    width: 100%;
    top: 244px;
    left: 100px;
    font-weight: 0;
    letter-spacing: 0px;
    padding-top: 10rem;
}

.title h1{
    margin: 0;
    display: inline;
}

.typing {
    color: #30cec2;
    display: inline-block; 
    font-size: 3.5rem;
}

.cursor {
    animation: blink 0.7s infinite;
}

@keyframes blink {
    0%, 50% { opacity: 1; }
    51%, 100% { opacity: 0; }
}

.subtitle{
    margin-top: 1.6rem;
    color: hsla(0, 0%, 100%, .8);
    font-family: "Fuse V.2 Display", Arial, sans-serif;
    font-size: 2rem;
    line-height: 3rem;
    margin-bottom: 1.7rem;
}

.header__buttons{
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header__buttons button:first-child{
    text-decoration: none;
    display: inline-block;
    border: none;
    padding: 12px 32px;
    border-radius: 15px;
    background-color: #30cec2;
    color: #0a181b;
    font-size: 16px;
    font-weight: 800;
    line-height: 24px;
    outline: 0;
    text-transform: none;
    cursor: pointer;
}

.header__buttons button:first-child:hover{
    background-color: #4ee4d8;
}

.header__buttons button:last-child{
    border: 1px solid hsla(0, 0%, 100%, .8);
    background: transparent;
    border-radius: 15px;
    padding: 12px 32px;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 8px;
    text-decoration: none;
}

.conference{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 16rem;
    margin-right: 0;
    padding-left: 10rem;
    padding-right: 2rem;
    padding-top: 7rem;
    padding-bottom: 8rem;
    display: block;
    position: relative;
}

.conference img{
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.image-container {
    position: relative;
    width: 76rem;
    height: 48rem;
}

.fade-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img1 {
    animation: fade1 20s infinite;
}

.img2 {
    animation: fade2 20s infinite;
}

@keyframes fade1 {
    0%, 45% { opacity: 1; }
    55%, 100% { opacity: 0; }
}

@keyframes fade2 {
    0%, 45% { opacity: 0; }
    55%, 100% { opacity: 1; }
}

.conference__title {
    font-family: "Fuse V.2 Display", Arial, sans-serif;
    font-size: 2.5rem;
    line-height: 5.5rem;
    letter-spacing: 0px;
    width: 55rem;
    height: 116px;
    font-weight: 800;
    margin-left: 38rem;
    margin-right: 0;
}

.conference p {
    margin-left: 38rem;
    margin-right: 0;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 24px;
    letter-spacing: 0px;
    opacity: 80%;
    width: 50rem;
}
/* .conference__title h1{
    font-weight: bold;
} */